<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<h2>Courses which you signed up for</h2>
<c th:each="course: ${courses}">
    <div class="container">


        <ul class="list-group">
            <li th:text="${course.id}" class="list-group-item"></li>
            <li th:text="${course.name_course_dk}" class="list-group-item"></li>
            <li th:text="${course.name_course_en}" class="list-group-item"></li>
            <li th:text="${course.class_code}" class="list-group-item"></li>
            <li th:text="${course.study_programme}" class="list-group-item"></li>
            <li th:text="${course.mandatory}" class="list-group-item"></li>
            <li th:text="${course.etcs}" class="list-group-item"></li>
            <li th:text="${course.course_language}" class="list-group-item"></li>
            <li th:text="${course.minimum_students}" class="list-group-item"></li>
            <li th:text="${course.expected_students}" class="list-group-item"></li>
            <li th:text="${course.maximum_students}" class="list-group-item"></li>
            <li th:text="${course.prerequisites}" class="list-group-item"></li>
            <li th:text="${course.learning_outcome}" class="list-group-item"></li>
            <li th:text="${course.content}" class="list-group-item"></li>
            <li th:text="${course.exam_form}" class="list-group-item"></li>
            <li th:text="${course.teachers}" class="list-group-item"></li>

            <li class="list-group-item">
                <a href="/edit/">Edit</a>
            </li>
        </ul>

    </div>

</c>

<div class="container">
    <h2>Add class</h2>
    <form class="form-horizontal" method="post" th:action="@{/saveteacher}">
        <input type="hidden" name="course_id" value="" />
        <div class="form-group">
            <label class="control-label col-sm-2" >Name course DK:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="name_course_dk" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Name course EN:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="name_course_en" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Class code:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="class_code" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Study programme:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="study_programme" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Mandatory:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="mandatory" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Etcs:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="etcs" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Course language:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="course_language" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Minimum number of students:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="minimum_students" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Expected number of students:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="expected_students" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Maximum number of students:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="maximum_students" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Prerequisites:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="prerequisites" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Learning outcome:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="learning_outcome" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Content:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="content" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Learning activities:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="learning_activities" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Exam form:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="exam_form" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Teachers:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="teachers" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit"></input>
            </div>
        </div>
    </form>
</div>
<br/><a th:href="@{/logOut}">Log Out</a>
</body>
</html>
